@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .bg-banner {
    background: linear-gradient(
        to right,
        rgba(107, 107, 107, 0.8),
        rgba(214, 214, 214, 0.8)
      ),
      url("https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
  }
}
